body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 0;
    height: 0;
    border-top: 100px solid #eee;
    border-right: 170px solid #ddd;
    border-bottom: 100px solid #ccc;
    border-left: 170px solid #eee;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
}

.heart {
    width: 32px;
    height: 32px;
    background-color: #ff3838;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    animation: heartbeat 1.4s linear infinite;
}

.heart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff3838;
    transform: translateY(-50%);
    border-radius: 50%;
}

.heart::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff3838;
    transform: translateX(-50%);
    border-radius: 50%;
}

@keyframes heartbeat {
    0% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    }
    25% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    }
    30% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
    }
    50% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    }
    70% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
    }
    100% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    }
}